.header {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

img {
    width: 45%;
}

.main-text {
    margin-left: 40px;
}