<main>
    <h1 class="header">Magic Github Explorer</h1>
    <section class="text">
        <img clas="image_github" src="https://github.githubassets.com/images/modules/explore/social.jpg" alt="github">
        <p class="main-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Exercitationem veniam at corporis iste sapiente sit omnis architecto aliquam atque pariatur illum numquam
            hic quos,
            minima quasi, modi consectetur, deleniti maiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Exercitationem veniam at corporis iste sapiente sit omnis architecto aliquam atque pariatur illum numquam
            hic quos,
            minima quasi, modi consectetur, deleniti maiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Exercitationem veniam at corporis iste sapiente sit omnis architecto aliquam atque pariatur illum numquam
            hic quos,
            minima quasi, modi consectetur, deleniti maiores!
        </p>
    </section>
</main>